body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}

p,a{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  margin: 0;
}